@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|News+Cycle|Quattrocento+Sans|Questrial|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,600,700,800|Work+Sans:300,400,500,600,700,800,900');

/*   H T M L  T A G S   */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


h1 {

    font-family: 'Eczar', sans-serif;
    font-weight: 800;

}

h2 {

  font-family: 'Quicksand', sans-serif;

}

h3 {
  font-family: 'Quatrocentro Sans', sans-serif;
}

h4 {



}

nav input {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

<<<<<<< HEAD
=======
nav h4 {
  display: inline-block;
  font-size: 30px;
  width: 100%;
  margin-top: -8px;
}

nav img {
  margin-left: -40px;
  margin-right: 15px;
  margin-top: -8px;
}


footer a {
  display: block;
  height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: 'Quatrocentro Sans', sans-serif;
}

footer a:hover {
  display: block;
  text-decoration: none;
  height: 30px;
  color: white;
}

footer {
  height: 200px;
  background-color: darkgrey;
  padding: 5px;
}

footer ul {
  display: inline-block;
  height: 20px;
  color: black;
  list-style: none;
  margin-top: 10px;
  padding: 10px;
  vertical-align: middle;
}



/*   C L A S S E S   */

.feature {}

.normal {}

.navbar {
  padding: 20px;
  border: none;
  border-radius: 0;
  opacity: 0.9;
  color: white;
  height: 100px;
  width: 100%;
  text-transform: uppercase;
  position: fixed;
  z-index: 500;
}

.dropdown-toggle {
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

.input-group {
  margin-top: 10px;
}



/*   I D S   */

#footerblurb {
  margin-top: -25px;
  display: inline-block;
  font-family: 'News Cycle', sans-serif;
  font-size: 15px;
  width: 500px;
  text-align: justify;
  float: right;
}

/*   C O M P O N E N T S   */

/*   Jumbotron   */

.Jumbotron {
  background-image: url('../images/cities/homepage.jpg');
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
  height: 80vh;
  margin-bottom: 80px;
}

.JumbotronText {
  width: 500px;
  height: 300px;
  padding-top: 280px;
  margin: 0px 30%;
  text-align: center;
}

/*   CityCards   */

.cityCard img {
  width: 100%;
}

.cityCard h3 {
  display: inline-block;
  height: 100%;
  margin-top: -10px;
  position: relative;
  background-color: white;
  color: darkgrey;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  text-transform: uppercase;
  padding-top: 5px;
  padding-right: 10px;
}

/*   ProfileCards   */

.postsList {
  padding-top: 50px;
  background-color: #ccffff;
}

.postCard {
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;

}

.userSection {
  background-color: #00cc99;
  padding: 0px;
  margin: 0px;
}

.userSection img {
  width: 100%;
}

.postSection {
  background-color: white;
}

h3.postTitle a {
  color: #000000;
  padding: 20px;
}

h4.postUser {
  padding: 20px;
}

img.overlay {
  position: relative;
  max-width: 500px;
  background color: green;
  opacity: 0.5;
}


/*   A N I M A T I O N   */
