@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|News+Cycle|Quattrocento+Sans|Questrial|Quicksand');

/*   H T M L  T A G S   */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  height: 100px;
  background-color: black;
  opacity: 0.6;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

button {
  background-color: black;
  height: 25px;
  margin: 5px;
  border: 1px;
  border-color: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

input {
  height: 25px;
  width: 200px;
  border: none;
  margin-bottom: 20px;
  padding-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

a {
  display: inline-block;
  height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: 'Quatrocentro Sans', sans-serif;
}

a:hover {
  display: block;
  height: 30px;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}


/*   C L A S S E S   */

.feature {}

.normal {}

/*   I D S   */

#logo {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 20px;
  display: inline-block;
  float: left;
  clear: both;
}

#navlist {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  margin-top: 15px;
  margin-left: 5px;
  padding: 5px;
  float: left;
  height: 30px;
  vertical-align: middle;
}

#search {
  display: inline-block;
  float: right;
  clear: both;
  margin-top: -45px;
  height: 30px;
  vertical-align: middle;
}

/*   C O M P O N E N T S   */

/*   A N I M A T I O N   */
